* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url('https://storage.googleapis.com/ltkcms.appspot.com/fs/yd/images/cover/30794.demographic-pie-chart.base?v=1585301987');
    width: 100%;
    height: 100%;
    position: relative;
}


body {
    font-family: "Prompt", Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: rgba(0,0,0,.5);
}

#name-label, #email-label, #number-label {
    display: block;
    padding: 0.3rem;
    margin-top: 20px;
}

#gender {
    display: block;
    margin-top: 20px;
    margin-bottom: 2px;
}

img {
    opacity: 0.5;
}

.p-text {
    display: block;
    margin-top: 20px;
    margin-bottom: 2px;
    
}

.description-info {
    color: white;
    text-align: center;
    width: 30%;
    margin: auto;
}

.input-field {
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    height: 35px;
    opacity: 1;
    padding-left: 1rem;
    margin: auto;
}

.comments-input {
    width: 100%;
}

textarea {
    width: 100%;
}

.option-size {
    width: 200px;
    height: auto;
}

.survey-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 30%;
    margin: auto;
    background-color:#35332c;
    opacity: 1;
    border-radius: 15px;
    padding: 2rem 5rem;
    margin-bottom: 50px;
}

@media screen and (max-width: 1450px) {
    .survey-form {
    width: 40%;
    }

    .description-info {
        width: 40%;
    }
}

@media screen and (max-width: 1250px) {
    .survey-form {
    width: 50%;
    }

    .description-info {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .survey-form {
    width: 60%;
    }

    .description-info {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .survey-form {
    width: 70%;
    }

    .description-info {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .survey-form {
    width: 70%;
    padding: 1rem;
    }


}

.survey-sections {
    padding: 5px;
    font-family: "Prompt", Arial, Helvetica, sans-serif; ;
}

#language-input input {
    margin-right: 0.5rem;
}

.submit-button {
    font-family: "Prompt", Arial, Helvetica, sans-serif; 
    width: 100%;
    color: black;
    background-color: #FFD670;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;  
}

#language-input {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.button-section {
    display: flex;
    justify-content: left;
}


